<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>


   {{>navbar}}

   <!-- main-header -->
   <div class="container-fluid main_header">
      <div class="row">
         <div class="col-md-10 col-12 mx-auto">

            <div class="row">

               <div class="col-md-12 col-12 main_header_left  align-items-center">
                  <figure>
                     <img src='./images/page_not_found_su7k.svg' class="img-fluid" width="500px" alt="">
                  </figure>

                  <p>oops page not found</p>
                  <h1>{{errormessage}}</h1>
                  <a href="/about"> <button> go back</button></a>
               </div>
               <!-- right part -->


            </div>

         </div>
      </div>
   </div>
   <!-- fotter -->
   <footer>
      <p>fotter</p>
   </footer>



</body>

</html>+