<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>


    {{>navbar}}

    <!-- main-header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">
                     <div class="col-md-6 col-12 main_header_right">
                        <figure class="profile">
                            <img src="./images/profile.jpeg" class="img-fluid mx-auto align-items-center justify-content-center" alt="">
                        </figure>

                    </div>

                    <!-- left part -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to weather apfgsp</p>
                        <h1>get the latest <span class="text_color">weather</span> info of your ciyt</h1>
                        <a href="/about"> <button> about</button></a>
                    </div>
                    <!-- right part -->
                   

                </div>

            </div>
        </div>
    </div>
    <!-- fotter -->
    <footer>
        <p>fotter</p>
    </footer>



</body>

</html>+